<html lang="en">
<head>
    <title>Sales Price Prediction</title></head>

<style>
h1{
    font-size: 45px;
}
body{
    background-color: rgba(94, 133, 114, 0.658);
    background-size: 100% 100%;
}
</style>
<br>
<br>
 
<body>
<h3><P>Choose your house features in Ames, City in Story County, Iowa, United States</P></h3>
<br>
<br>
<br>
<!-- <button type="submit" onclick='myfunction();'>Click Here to see your data</button> -->
<form action="{{ url_for('predict') }}" method="post">
    <label for="Neighborhood">Neighborhood within Ames city limits:</label> 
    <select id="Neighborhood" type="text" name="Neighborhood">
        <option value="Crawfor">Crawfor</option>
        <option value="NoRidge">Northridge</option>
        <option value="Mitchel">Mitchel</option>
        <option value="Somerst">Somerst</option>
        <option value="OldTown">Old Town</option>
        <option value="BrkSide">Brookside</option>
        <option value="Sawyer">Sawyer</option>
        <option value="NAmes">North Ames</option>
        <option value="MeadowV">Meadow Village</option>
        <option value="Timber">Timber</option>
        <option value="StoneBr">Stone Brooke</option>
        <option value="ClearCr">Clear Cr</option>
        <option value="Gilbert">Gilbert</option>
        <option value="Edwards">Edwards</option>
        <option value="NWAmes">Ames Nw</option>
        <option value="NPkVill">North Park Villa</option>
        <option value="Blmngtn">Bloomington</option>
        <option value="SWISU">SWISU</option>
        <option value="Blueste">Bluestem</option>
      </select>
    <br>
    <label for="LotArea">Lot Area in square feet:</label><input type="number" id="LotArea" name="LotArea">
    <br>
    <label for="BedroomAbvGr">Bedrooms:</label><input type="number" id="BedroomAbvGr" name="BedroomAbvGr">
    <br>
    <label for="FullBath">Full Bath:</label><input type="number" id="FullBath" name="FullBath">
    <br>
    <label for="OverallQual">Overall Quality:</label><input type="number" id="OverallQual" name="OverallQual">
    <br>
    <label for="YearBuilt">Year Built:</label><input type="number" id="YearBuilt" name="YearBuilt">
    <br>
    <h3><input type="submit"></h3>
    <br>
</form>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script>
    function myfunction() {
        const Neighborhood = document.getElementById("Neighborhood").value;
        const LotArea = document.getElementById("LotArea").value;
        const BedroomAbvGr = document.getElementById("BedroomAbvGr").value;
        const FullBath = document.getElementById("FullBath").value;
        const OverallQual = document.getElementById("OverallQual").value;
        const YearBuilt = document.getElementById("YearBuilt").value;
        const dict_values = {Neighborhood, LotArea, BedroomAbvGr, FullBath, OverallQual, YearBuilt} //Pass the javascript variables to a dictionary.
        const s = JSON.stringify(dict_values); // Stringify converts a JavaScript object or value to a JSON string
        console.log(s); // Prints the variables to console window, which are in the JSON format
        window.alert(s)
        $.ajax({
            url:"/predict",
            type:"POST",
            contentType: "application/json",
            data: JSON.stringify(s)});
}
</script>
</body>
</html>


<!-- ['CollgCr', 'Veenker', 'Crawfor', 'NoRidge', 'Mitchel', 'Somerst',
       'OldTown', 'BrkSide', 'Sawyer', 'NridgHt', 'SawyerW', 'NAmes',
       'IDOTRR', 'MeadowV', 'Timber', 'StoneBr', 'ClearCr', 'Gilbert',
       'Edwards', 'NWAmes', 'NPkVill', 'Blmngtn', 'BrDale', 'SWISU',
       'Blueste'] -->