<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PREDICTING HOUSE PRICES WITH MACHINE LEARNING</title>

    <!-- Bootstrap -->
    <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />

     <!-- Our CSS File for styling and media -->
     <link rel="stylesheet" type="css" href="../static/css/styleWebpage.css">

     <!-- W3 Styling Guide -->
     <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>

<!-- NAVIGATION BAR USING BOOTSTRAP -->
<nav class="navbar navbar-light bg-light navbar-expand-lg fixed-top">
    <a href="/" class="navbar-brand">Georgia Tech Analytics</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
            <li class="navbar-item">
                <a href="/" class="nav-link">Home</a>
            </li>
            <li class="navbar-item">
                <a href="data_visualization.html" class="nav-link">Data Visualization</a>
            </li>
            <li class="navbar-item">
              <a href="correlations.html" class="nav-link active">Correlations</a>
            </li>
            <li class="navbar-item">
              <a href="prediction.html" class="nav-link">Price Prediction</a>
          </li>
        </ul>
    </div>
</nav>

<br>
<br>
<br>

<body>

    <center><h2 style="background-color:powderblue"><b> Correlation Matrix </b></h2></center>

        <div class ="row">
            <div class="col-md-1"> </div>
            <div class="col-md-5">
                <img src="../static/img/corr_matrix.png" width="100%">
            </div>
            <div class="col-md-6">
                <br>
                <br>
               <p>
                <h5><b>STRONG POSITIVE CORRELATIONS</b></h5>
                <li>
                    Sale Price with House Material Quality
                </li>
                <li>
                    Sale Price with Living Area
                </li>
                <li>
                    Sale Price with External Quality
                </li>

                <br>
                <br>


                <h5><b>STRONG NEGATIVE CORRELATIONS</b></h5>
                <li>
                    Year Built with Number of Rooms
                </li>
                <li>
                    Year Built with Living Area
                </li>      
                
               </p>
              </p>
            </div>
        </div>
    
    <br>
    <br>
    <br>
        <center>
            <h2 style="background-color:powderblue"><b> Price General Visualizations</b></h2>
        </center>
    <br>
        <div class ="row">
            <div class="col-md-4">
                <img src="../static/img/SalePricevsGarageCapacity.png" width="100%">
            </div>
            <div class="col-md-4">
                <img src="../static/img/SalePricevsGroundLivingArea.png" width="100%">
            </div>
            <div class="col-md-4">
                <img src="../static/img/SalePricevsNumberofFullBathroom.png" width="100%">
            </div>
        </div>
        <br>
        <div class ="row">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <img src="../static/img/SalePricevsTotalBasementSF.png" width="100%">
            </div>
            <div class="col-md-4">
                <img src="../static/img/SalePricevsYearBuilt.png" width="100%">
            </div>
            <div class="col-md-2"></div>
        </div>

    <hr>


<!-- Footer -->
<center><footer>
    <p><a href="/">Return to Home Page</a>
    <p>&copy;Project 4 Group F, 2022, Bootcamp</p>
</footer>
</center>

  <!-- Leaflet JS -->
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
crossorigin=""></script>

<!-- D3 JavaScript -->
<script src="https://d3js.org/d3.v5.min.js"></script>

<!-- Bootstrap -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
